.hero {
  background-image: url("https://img.freepik.com/premium-photo/how-start-blog-blogging-beginners-ways-monetize-your-blog-blog-word-table-with-laptop_72482-5630.jpg");
  background-size: cover;
  background-position: center;
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: #fff;
  position: relative;
  margin-top: 70px;
  padding: 4rem 0;
}
.hero::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background: linear-gradient(rgba(0, 0, 0, 0.6), transparent);
  box-shadow: inset 0px 100px 250px #000000;
}

.hero h2 {
  font-size: 36px;
  margin-bottom: 1rem;
  color: white !important;
  text-align: center;
  position: absolute;
  z-index: 300;
}

.hero p {
  font-size: 18px;
  color: white;
  position: absolute;
  margin-top: 70px;
  z-index: 300;
}

.about-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 40px;
}

h1 {
  font-size: 36px;
  margin-bottom: 20px;
}

p {
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 20px;
}
