.form {
  max-width: 40%;
  margin: auto;
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.form h1 {
  text-align: center;
  text-transform: uppercase;
  font-size: 26px;
}
.form label {
  font-size: 14px;
  color: #060A6B;
  letter-spacing: 2px;
}

.form label,
.form input,
.form textarea {
  display: block;
  width: 97%;
  
}

.form input,
.form textarea {
  font: inherit;
  font-size: 14px;
  padding: 0.25rem;
}

.actions {
  display: flex;
  gap: 1rem;
  justify-content: flex-end;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 30px;
}
.form ::placeholder{
  font-size: 12px;
}

.actions button {
  font: inherit;
  cursor: pointer;
  padding: 0.5rem 1.5rem;
  border-radius: 4px;
  background-color: var(--color-gray-300);
  color: var(--color-gray-800);
  border: 1px solid #060A6B;
}

.actions a {
  text-decoration: none;
  padding: 0.5rem 1.5rem;
  background-color: transparent;
  color: var(--color-gray-300);
  border: 1px solid #060A6B;
  border-radius: 4px;
}

.actions button:hover {
  background-color: #060A6B;
  color: white;
}

.actions a:hover {
  background-color: #060A6B;
  color: white;
}

h1 {
  color: #060A6B !important;
}

@media(max-width:500px){
.form{
  max-width: 80%;
}

.form h1{
  font-size: 14px;
}

}
@media(max-width:400px){
.actions{
  flex-direction: column-reverse;
}

}
