.hero-container{
  width: 100%;
  height: 90vh;
  background: linear-gradient(113.5deg, #000588 12.16%, rgba(6, 10, 107, 0) 90.37%);
  overflow: hidden;
  margin-top: 70px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  
}
.eclipse{
opacity: 0.7;
  width: 350px;
  height: 350px;
  border-radius: 100%;
  background: #9C662C80; 
  left: -100px !important;
  position: absolute;
  top: 70px;
}
.hero-body{
  width: 90%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: auto;
}
.hero-text{
  width: 50%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  padding: 2rem;
}
.hero-text h1{
  color: #FFC700 !important;
  font-size: 40px;
  font-family: 'poppins';
  text-align: left;
  max-width: 500px;
}
.hero-text p{
  font-family: 'poppins';
font-size: 18px;
text-align: left;
color:#FFC700;
max-width: 390px;

}
.hero-image{
  width: 70%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  
}
.hero-image img {
  width: 550px;
  height: 550px;
mix-blend-mode: multiply;
}

@media(max-width:832px){
  .hero-image{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    
  }
  .hero-image img {
    width: 500px;
    height: 500px;
  mix-blend-mode: multiply;
  }
}

@media(max-width:711px){
  .hero-text h1{
    font-size: 35px;
  
  }
  .hero-image img {
    width: 350px;
    height: 350px;
  mix-blend-mode: multiply;
  }
}
@media(max-width:612px){
  .hero-body{
    flex-direction: column !important;
    margin-top: 90px !important;
  }
  .hero-text{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -150px !important;
    
  }
  .hero-text h1{
    font-size: 22px;
  }
  .hero-text p {
    font-size: 12px;
  }
  .eclipse{
      width: 250px;
      height: 250px;
      
    }
  .hero-image{
    display: none !important;
  }
  .hero-container{
    background: linear-gradient(113.5deg, #000588 12.16%, rgba(6, 10, 107, 0) 130.37%);
    height: 70vh;
  }
}