/* Navbar.module.css */
.navbar {
  background-color: #090E8B;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  height: 70px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.navContainer {
  width: 90%;
  margin: auto;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}
.navContainer h2 {
  color: white !important;
  width: 30%;
}

.hamburgerMenu {
  display: none;
  cursor: pointer;
  color: white !important;
  font-size: 1.2rem;
}

.hamburgerMenu i {
  color: white !important;
  font-size: 1.5rem;
}
.links {
  display: flex;
  width: 70%;
}

.logout{
  background-color: #090E8B !important;
}
.active {
  color: white !important;
  border-bottom: 3px solid white !important;
}
.list {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-around;
}
ul li {
  list-style: none;
}
.links ul li a {
  text-decoration: none;
  color: #fcf8f9 !important;
  text-decoration: none;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  font-size: 14px;
  transition: background-color 0.3s ease-in-out;
}

@media (max-width: 1040px) {
  .links {
    width: 70%;
  }
  .navContainer h1 {
    width: 20%;
  }
}
@media (max-width: 927px) {
  .links {
    width: 75%;
  }
}

@media (max-width: 874px) {

  .hamburgerMenu {
    display: inherit;
    font-size: 22px;
  }
  .links {
    position: fixed;
    width: 50%;
    height: 70vh;
    top: 65px;
    left: -100%;
    background-color: #090E8B ;
    transition: all ease-in 0.5s;
  }
  .links ul {
    flex-direction: column;
    margin-top: 10px;
    width: 70%;
    margin: auto;
    padding: 0;
    height: 70vh;
    align-items: center !important;
  }
  .links ul li {
    font-size: 16px;
    text-align: center;
  }
  .active {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid white;
    border-radius: 2px;
  }
  .logout{
    font-size: 14px;
    margin-left: -14px;
  }

}
@media(max-width: 400px){
  .navContainer h2 {
    font-size: 22px;
  }
}

.showBar {
  left: 0 !important;
}
