.profilePage {
  display: flex;
  margin-top: 70px;
  height: 110vh;
  /* overflow-x: hidden !important; */
}
.aside {
  width: 18%;
  height: 100%;
  position: fixed;
  /* z-index: 3; */

}
.content {
  min-height: 100vh !important;
  padding: 10px;
  width: 82%;
  margin-left: 240px;
  background: linear-gradient(113.5deg, #000588 12.16%, rgba(6, 10, 107, 0) 90.37%);
  /* overflow-x: hidden !important; */
}

@media (max-width: 768px) {
  .profilePage {
    flex-direction: column;
    width: 100%;
  }
  .aside {
    width: 100% !important;
  }
  .content {
    width: 100% !important;
    margin-left: 0;
    margin-top: 10vh;
  }
}
