.profilePage {
  display: flex;

  height: 110vh;
}
.aside {
  width: 20%;
  height: 100%;
}
.content {
  min-height: 110vh !important;
  padding: 10px;
  width: 80%;
  background-color: aqua;
}

@media (max-width: 768px) {
  .profilePage {
    flex-direction: column;
    width: 100%;
  }
  .aside {
    width: 100% !important;
    height: 30vh;
  }
  .content {
    width: 100% !important;
  }
}
