/* ProfileForm.module.css */
.profileForm {
  color: white;
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-self: start;
  position: absolute;
  
}

.profileHeader {
  display: flex;
  align-items: start;
  flex-direction: column;
  width: 30% !important;
}
.profileInfo {
  width: 70%;
  margin: auto;
  flex-direction: column;
}



.profileInfoList {
  list-style-type: none;
  margin-left: 20px;
  padding: 0;
}

.profileInfoList li {
  margin-bottom: 10px;
}

.profileInfo {
  margin-top: 20px;
}

.editButton {
  margin-top: 20px;
}
.profileData {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.formGroup {
  margin-bottom: 20px;
  width: 100%;
}

.formGroup label {
  font-weight: bold;
}

.formGroup input,
.formGroup textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-weight: 500;
  font-size: 14px;
  color: black;
  outline: #FFC700 !important;
  border: #FFC700;
}

.formGroup textarea {
  resize: vertical;
}

.editButton {
  margin-top: 20px;
  background-color: #6265AE;
  color: white;
  outline: #FFC700;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.editButton:hover {
  background-color: #31359e;
}
